<mat-toolbar color="primary">
    <div class="spacer">
        filter notifications
    </div>
    
    <button type="button" mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<form [formGroup]="form" (ngSubmit)="!form.invalid && submit()">
    <mat-form-field appearance="outline">
        <mat-label>
            sort
        </mat-label>
        
        <mat-select name="sort" placeholder="sort" formControlName="sort">
            <mat-option *ngFor="let item of sort" [value]="item.value">
                {{ item.title }}
            </mat-option>
        </mat-select>
    
        <button matSuffix type="button" mat-icon-button (click)="reverse($event)">
            <mat-icon>
                {{ form.value.reverse ? 'arrow_upward' : 'arrow_downward'}}
            </mat-icon>
        </button>

        <mat-error *ngIf="errors.sort">
            {{ errors.sort }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>
            limit
        </mat-label>
        
        <input matInput min="1" max="1000" type="number" name="limit" placeholder="limit" formControlName="limit" required>
    
        <mat-error *ngIf="errors.limit">
            {{ errors.limit }}
        </mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">
        submit
    </button>
</form>