mat-toolbar {
	overflow: 		hidden;
	white-space: 	nowrap;
	text-overflow: 	ellipsis;
}
.notice-container {
    padding:        10px;
    text-align:     center;
    line-height:    24px;
    mat-icon {
        color:          #03A9F4;
        display:        block;
        margin-left:    auto;
        margin-right:   auto;
    }
}
form {
	width: 		calc(100% - 20px);
    padding: 	10px;
    button,
    mat-form-field {
   		width: 			100%;
		overflow: 		hidden;
		white-space: 	nowrap;
		text-overflow: 	ellipsis;
    }
    button {
    	text-transform: uppercase;
    }
}