<mat-toolbar color="primary">
    <button mat-icon-button class="menu-toggle" (click)="menu.toggle()" *ngIf="!menu.opened">
        <mat-icon>
            menu
        </mat-icon>
    </button>

    <label class="page-title spacer">
        Map
    </label>

    <search placeholder="search zones & devices"></search>

    <button mat-icon-button (click)="ViewHistory()">
        <mat-icon svgIcon="history"></mat-icon>
    </button>

    <button mat-icon-button (click)="ToggleEditor()">
        <mat-icon svgIcon="edit"></mat-icon>
    </button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-button-toggle-group [value]="mode" [vertical]="true" (change)="ToggleDrawingMode($event)" draw-controls *ngIf="editing">
    <mat-button-toggle value="hand" matTooltip="Move Mode" matTooltipPosition="before">
        <mat-icon svgIcon="drag"></mat-icon>
    </mat-button-toggle>

    <mat-button-toggle value="circle" matTooltip="Draw Circle" matTooltipPosition="before">
        <mat-icon svgIcon="draw-circle"></mat-icon>
    </mat-button-toggle>
    
    <mat-button-toggle value="polygon" matTooltip="Draw Polygon" matTooltipPosition="before">
        <mat-icon svgIcon="draw-poly"></mat-icon>
    </mat-button-toggle>
    
    <mat-button-toggle value="rectangle" matTooltip="Draw Rectangle" matTooltipPosition="before">
        <mat-icon svgIcon="draw-rect"></mat-icon>
    </mat-button-toggle>
</mat-button-toggle-group>

<div class="history-mode" *ngIf="history.enabled">
    <label>
        viewing history for

        <h1>
            {{ history.description }}
        </h1>
    </label>
    
    <button mat-icon-button (click)="CloseHistory()">
        <mat-icon svgIcon="close"></mat-icon>
    </button>
</div>

<agm-map [fitBounds]="true">
    <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m" *ngIf="!history.enabled">
        <agm-marker *ngFor="let device of devices.data" [iconUrl]="device.location.icon.url" [latitude]="device.location.latitude" [longitude]="device.location.longitude" [visible]="!history.enabled" [agmFitBounds]="true" (markerClick)="ViewDevice(device)" [markerClickable]="true"></agm-marker>
    </agm-marker-cluster>

    <agm-circle *ngFor="let circle of circles" [radius]="circle.position.radius" [latitude]="circle.position.latitude" [longitude]="circle.position.longitude" [editable]="editing" [visible]="!history.enabled" [strokeWeight]="0" [circleDraggable]="editing" (centerChange)="CircleCenterChange($event, circle)" (radiusChange)="CircleRadiusChange($event, circle)"></agm-circle>

    <agm-polygon *ngFor="let polygon of polygons" [paths]="polygon.position" [editable]="editing" [visible]="!history.enabled" [strokeWeight]="0" [polyDraggable]="editing" (polyDragEnd)="PolygonDragEnd($event, polygon)" (polyDragStart)="PolygonDragStart($event, polygon)" (polyPathsChange)="PolygonPathsChange($event, polygon)"></agm-polygon>

    <agm-rectangle *ngFor="let rectangle of rectangles" [east]="rectangle.position.east" [west]="rectangle.position.west" [north]="rectangle.position.north" [south]="rectangle.position.south" [editable]="editing" [visible]="!history.enabled" [strokeWeight]="0" [rectangleDraggable]="editing" (mouseDown)="RectangleMouseDown($event, rectangle)" (mouseUp)="RectangleMouseUp($event, rectangle)" (boundsChange)="RectangleBoundsChange($event, rectangle)"></agm-rectangle>

    <agm-polyline strokeColor="#3F51B5" strokeWeight="6" [visible]="history.enabled">
        <agm-polyline-point *ngFor="let point of history.data" [latitude]="point.location.latitude" [longitude]="point.location.longitude"></agm-polyline-point>
    </agm-polyline>

    <agm-marker *ngFor="let point of history.data" [iconUrl]="point.icon.url" [visible]="history.enabled" [latitude]="point.location.latitude" [longitude]="point.location.longitude" [agmFitBounds]="true"></agm-marker>
</agm-map>