<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="close()" bit-branding bit-color>
            <mat-icon>
                arrow_back
            </mat-icon>
        </button>

        <label class="page-label" bit-branding bit-color>
            {{ description }} Subscribers
        </label>
    </mat-toolbar-row>
</mat-toolbar>

<mat-progress-bar class="mapping-progress-bar" mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="table-container">
    <mat-table [dataSource]="subscribersDataSource" matSort>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>
                Email
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{ element.email }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef>
                Role
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-select name="role" placeholder="Role" [(ngModel)]="element.role" (ngModelChange)="updatesubscriber($event, element.email)" [disabled]="!editing(element)" required>
                    <mat-option *ngFor="let role of roles" [value]="role.value" [disabled]="role <= role.value">
                        {{ role.description }}
                    </mat-option>
                </mat-select>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="remove" matTooltipPosition="left" (click)="remove(element)" color="warn" [disabled]="!editing(element)">
                    <mat-icon aria-label="remove">
                        remove
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>