header {
	width: 					100%;
	height: 				95vh;
	background-size: 		cover;
	background-repeat: 		no-repeat;
	background-position: 	center;
	nav {
		height: 			56px;
		padding: 			0 15px;
		background-color: 	rgba(#FFFFFF, 0.1);
		.nav-logo {
			width: 			40px;
			float: 			left;
			height: 		40px;
			margin-top: 	8px;
			margin-left: 	15px;
			margin-right: 	15px;
		}
		.page {
			width: 			100px;
			color: 			#FFFFFF;
			float: 			left;
			cursor: 		pointer;
			height: 		52px;
			outline: 		none;
			font-size: 		12px;
			margin-top: 	2px;
			text-align: 	center;
			line-height: 	52px;
			text-transform: uppercase;
		}
		.page.active {
			color: 			#4CAF50;
			font-size: 		13px;
			border-bottom: 	2px solid #4CAF50;
		}
		button[mat-icon-button] {
			color: 			#FFFFFF;
			float: 			right;
			visibility: 	hidden;
			margin-top: 	8px;
			margin-right: 	5px;
			margin-bottom: 	8px;
		}
	}
	.logo {
		width: 			200px;
		height: 		200px;
		display: 		block;
		margin-top: 	150px;
		margin-left: 	auto;
		margin-right: 	auto;
		img {
			max-width: 	200px;
			max-height: 200px;
		}
	}
	.title {
		color: 			#FFFFFF;
		font-size: 		48px;
		text-align: 	center;
		margin-top: 	50px;
		margin-bottom: 	30px;
	}
	button[mat-raised-button] {
		color: 				#FFFFFF;
		width: 				320px;
		height: 			60px;
		display: 			block;
		position: 			relative;
		font-size: 			20px;
		margin-top: 		15px;
		line-height: 		30px;
		margin-left: 		auto;
		margin-right: 		auto;
		background-color: 	#000000;
		mat-icon {
			top: 			15px;
			left: 			15px;
			width: 			32px;
			height: 		32px;
			bottom: 		15px;
			position: 		absolute;
			font-size: 		32px;
			max-height: 	32px;
			margin-right: 	10px;
		}
		span {
			top: 			15px;
			left: 			60px;
			bottom: 		15px;
			position: 		absolute;
			max-height: 	30px;
			margin-right: 	10px;
		}
	}
}
section {
	padding: 	15px 0;
	min-height: 150px;
	.label {
		color: 			#424242;
		font-size: 		24px;
		text-align: 	center;
		font-weight: 	bold;
		text-transform: uppercase;
	}
	p {
		padding: 0 15px;
	}
}
.about {
	p {
		text-align: center;
	}
}
.features {
	table {
		margin-top: 25px;
		td:first-child {
			width: 150px;
		}
	}
}
.faq,
.news {
	mat-grid-list {
		margin-top: 	25px;
		margin-bottom: 	20px;
		mat-grid-tile {
			cursor: 		pointer;
			border-radius: 	5px;
			.question {
				color: 			#FFFFFF;
				position: 		absolute;
				font-weight: 	bold;
			}
		}
	}
}
@media screen and (max-width: 600px) {
	header {
		width: 					100%;
		height: 				100vh;
		nav {
			.page {
				display: none;
			}
			button[mat-icon-button] {
				visibility: visible;
			}
		}
		.logo {
			width: 			150px;
			height: 		150px;
			display: 		block;
			margin-top: 	50px;
			img {
				max-width: 	150px;
				max-height: 150px;
			}
		}
		.title {
			color: 			#FFFFFF;
			font-size: 		38px;
			text-align: 	center;
		}
	}
}