.search-container {
    padding: 15px;
}
mat-form-field {
    width: 100%;
}
.type-chip {
    color:              #FFFFFF;
    height:             20px;
    padding:            2px 5px;
    outline:            none !important;
    font-size:          12px;
    border-radius:      30px;
}
.zone {
    background-color:   #4CAF50;
}
.device {
    background-color:   #2196F3;
}