<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="close()" bit-branding bit-color>
            <mat-icon>
                arrow_back
            </mat-icon>
        </button>

        <label class="page-label" bit-branding bit-color>
            Search
        </label>
    </mat-toolbar-row>
</mat-toolbar>

<mat-progress-bar class="mapping-progress-bar" mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="search-container">
    <mat-form-field appearance="outline">
        <mat-label>
            Search
        </mat-label>
        
        <input type="text" matInput [(ngModel)]="description" (ngModelChange)="search()"  [matAutocomplete]="auto">
    </mat-form-field>
    
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of result | orderBy: 'description'" [value]="option.description" (click)="submit(option)">
            {{ option.description }}
            <span class="type-chip" [class.zone]="option.type == 'zone'" [class.device]="option.type == 'device'">
                {{ option.type }}
            </span>
        </mat-option>
    </mat-autocomplete>
</div>