<mat-toolbar>
	<mat-toolbar-row>
		<button mat-icon-button (click)="close()">
            <mat-icon>
                arrow_back
            </mat-icon>
        </button>

        <label class="page-label" app-translate [app-translate-inner]="true">
            Historical Data
        </label>
	</mat-toolbar-row>
</mat-toolbar>

<div class="full-screen-dialog-body">
    <div class="row" *ngFor="let row of data">
        <table>
            <tr>
                <th app-translate [app-translate-inner]="true">
                    order
                </th>
                <td>
                    {{ row.order }}
                </td>
            </tr>
            <tr>
                <th app-translate [app-translate-inner]="true">
                    date
                </th>
                <td>
                    {{ row.date | date : 'yyyy/MM/dd HH:mm' }}
                </td>
            </tr>
            <tr>
                <th app-translate [app-translate-inner]="true">
                    latitude
                </th>
                <td>
                    {{ row.latitude }}
                </td>
            </tr>
            <tr>
                <th app-translate [app-translate-inner]="true">
                    longitude
                </th>
                <td>
                    {{ row.longitude }}
                </td>
            </tr>
            <tr *ngFor="let input of row.inputs">
                <th>
                    {{ input.description }}
                </th>
                <td>
                    {{ input.type == 'analog' ? (input.value | number) : input.value }}{{ input.type == 'analog' ? input.units : '' }}
                </td>
            </tr>
        </table>
    </div>
</div>