.section-seporator {
	height: 	40px;
	position: 	relative;
	.line {
		top: 			19.5px;
		left: 			0px;
		right: 			0px;
		bottom: 		19.5px;
		z-index: 		0;
		position: 		absolute;
		border-bottom: 	1px solid #424242;
	}
	.icon-row {
		top: 				0;
		left: 				0px;
		right: 				0px;
		bottom: 			0px;
		z-index: 			1;
		position: 			absolute;
		background-color: 	transparent;
		.icon-container {
			width: 				30px;
			height: 			30px;
			display: 			block;
			position: 			relative;
			margin-top: 		5px;
			margin-left: 		auto;
			margin-right: 		auto;
			background-color: 	#FFFFFF;
			img {
				top: 			5px;
				left: 			5px;
				right: 			5px;
				width: 			20px;
				height: 		20px;
				bottom: 		5px;
				position: 		absolute;
			}
		}
	}
}