mat-toolbar {
	overflow: 		hidden;
	white-space: 	nowrap;
	text-overflow: 	ellipsis;
}
form {
	width: 		calc(100% - 20px);
    padding: 	10px;
    button,
    mat-form-field {
   		width: 			100%;
		overflow: 		hidden;
		white-space: 	nowrap;
		text-overflow: 	ellipsis;
    }
    button {
    	text-transform: uppercase;
    }
}