<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="close()" bit-branding bit-color>
            <mat-icon>
                arrow_back
            </mat-icon>
        </button>

        <label class="page-label" bit-branding bit-color>
            Share {{ description }}
        </label>
    </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="form" (ngSubmit)="!form.invalid && submit()">
     <mat-form-field appearance="outline">
        <mat-label>
            Email
        </mat-label>

        <input type="email" name="email" matInput formControlName="email" placeholder="email" required>

        <mat-error align="start" *ngIf="errors.email" class="form__error">
            {{ errors.email }}
        </mat-error>
    </mat-form-field>

     <mat-form-field appearance="outline">
        <mat-label>
            Role
        </mat-label>
        
        <mat-select name="role" formControlName="role" placeholder="role" required>
            <mat-option *ngFor="let role of roles" [value]="role.value" [disabled]="role.value == 0 || role.value == 5 || role.value == 6">
                {{ role.description }}
            </mat-option>
        </mat-select>

        <mat-error align="start" *ngIf="errors.role" class="form__error">
            {{ errors.role }}
        </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">
        share
    </button>
</form>