<div id="container" class="video-container">
    <video id="video" [width]="width" [height]="height" autoplay muted></video>

    <div class="barcode-box">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>

<button mat-fab color="warn" (click)="close()">
    <mat-icon>
        close
    </mat-icon>
</button>