<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="close()">
            <mat-icon>
                arrow_back
            </mat-icon>
        </button>

        <label class="page-label" app-translate [app-translate-inner]="true">
            Device History
        </label>
    </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="form" (ngSubmit)="!form.invalid && submit()">
     <mat-form-field appearance="outline">
        <mat-label app-translate [app-translate-inner]="true">
            Date Preselector
        </mat-label>
        
        <mat-select name="datepreselector" formControlName="datepreselector" placeholder="Date Preselector" required>
            <mat-option *ngFor="let option of options" [value]="option.value">
                {{ option.description }}
            </mat-option>
        </mat-select>

        <mat-error align="start" *ngIf="errors.datepreselector" class="form__error">
            {{ errors.datepreselector }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="dateSelectExact">
        <mat-label app-translate [app-translate-inner]="true">
            From
        </mat-label>

        <input matInput [matDatepicker]="pickerfrom" name="from" formControlName="from" placeholder="Choose a date">
        
        <mat-datepicker-toggle matSuffix [for]="pickerfrom"></mat-datepicker-toggle>
        
        <mat-datepicker #pickerfrom></mat-datepicker>

        <mat-error align="start" *ngIf="errors.from" class="form__error">
            {{ errors.from }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="dateSelectExact">
        <mat-label app-translate [app-translate-inner]="true">
            To
        </mat-label>

        <input matInput [matDatepicker]="pickerto" name="to" formControlName="to" placeholder="Choose a date">
        
        <mat-datepicker-toggle matSuffix [for]="pickerto"></mat-datepicker-toggle>
        
        <mat-datepicker #pickerto></mat-datepicker>

        <mat-error align="start" *ngIf="errors.to" class="form__error">
            {{ errors.to }}
        </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" app-translate [app-translate-inner]="true">
        see history
    </button>
</form>