<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="close()">
            <mat-icon>
                arrow_back
            </mat-icon>
        </button>

        <label class="page-label">
            {{ description }} <span app-translate [app-translate-inner]="true">Zones</span>
        </label>

        <div spacer></div>

        <button mat-icon-button matTooltip="Link zone to device" (click)="link()">
            <mat-icon>
                link
            </mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-progress-bar class="mapping-progress-bar" mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="full-screen-dialog-body">
    <mat-table [dataSource]="zones" matSort>
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef app-translate [app-translate-inner]="true">
                Description
            </mat-header-cell>

            <mat-cell *matCellDef="let element">
                {{ GetDescription(element.zoneId) }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>

            <mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Edit device zone" matTooltipPosition="left" (click)="edit(element)" [disabled]="element.disabled">
                    <mat-icon aria-label="edit">
                        edit
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="unlink">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>

            <mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Unlink zone from device" matTooltipPosition="left" (click)="unlink(element)" [disabled]="element.disabled">
                    <mat-icon aria-label="link_off">
                        link_off
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>