<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="close()" bit-branding bit-color>
            <mat-icon>
                arrow_back
            </mat-icon>
        </button>

        <label class="page-label" bit-branding bit-color>
            Reset Your Password
        </label>
    </mat-toolbar-row>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="notice-container">
    <mat-icon>
        info
    </mat-icon>

    Note that an email will be sent to this email with your new password, you can login and then create a new password with it!
</div>

<form [formGroup]="form" (ngSubmit)="!form.invalid && submit()">
     <mat-form-field appearance="outline">
        <mat-label>
            Email
        </mat-label>

        <input type="email" name="email" matInput formControlName="email" placeholder="email" required>

        <mat-error align="start" *ngIf="errors.email" class="form__error">
            {{ errors.email }}
        </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="loading">
        reset
    </button>
</form>