.row {
    padding:        10px;
    border-bottom:  1px solid #E0E0E0;
    table {
        width: 100%;
        th, td {
            font-size:      13px;
            text-align:     left;
            padding-left:   15px;
            padding-right:  15px;
        }
        th {
            width:          150px;
            text-transform: uppercase;
        }
    }
}
.row:last-child {
    border-bottom: none;
}