mat-progress-bar {
	top: 		0px;
	left: 		0px;
	right: 		0px;
	height: 	2px;
	position: 	absolute;
}
h3 {
	margin: 		0px;
	height: 		40px;
	font-size: 		14px;
	margin-top: 	-10px;
	line-height: 	40px;
	border-bottom: 	1px solid #E0E0E0;
	text-transform: uppercase;
	button {
		float: right;
	}
}
mat-menu button span {
	text-transform: capitalize !important;
}
mat-list {
	padding: 0px;
	mat-list-item {
		height: 		40px !important;
		border-bottom: 	1px dashed #E0E0E0;
		h4 {
			font-size: 		12px;
			font-weight: 	bold;
			text-transform: uppercase;
		}
	}
	mat-list-item:last-child {
		border-bottom: none;
	}
	h3 {
		height: 40px !important;
	}
}
.inputs-container {
	overflow-y: auto;
	max-height: calc(100vh - 400px);
}
form {
	padding-top: 10px;
	button,
	mat-form-field {
		width: 100%;
	}
	button {
		text-transform: uppercase;
	}
}
app-file-upload {
	width: 			150px;
	display: 		block;
	margin-left: 	auto;
	margin-right: 	auto;
}