<mat-sidenav-container [hasBackdrop]="mode == 'large' ? true : false">
    <mat-sidenav #sidemenu mode="side" [class.small]="mode == 'small'" [disableClose]="true">
        <mat-toolbar>
            <mat-toolbar-row>
                <img class="logo" src="./assets/icon-512.png" (click)="menu.toggle()" matTooltip="Toggle Menu" matTooltipPosition="after">

                <label *ngIf="mode == 'large'" bit-branding bit-color>
                    Mapping
                </label>

                <div spacer *ngIf="mode == 'large'"></div>

                <button mat-icon-button (click)="menu.toggle()" *ngIf="mode == 'large'" matTooltip="Toggle Menu" matTooltipPosition="after" bit-branding bit-color>
                    <mat-icon>
                        close
                    </mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-list>
            <mat-list-item routerLinkActive="active current" routerLink="home" (click)="menu.changeRoute()" matTooltip="Home" matTooltipPosition="after" bit-branding bit-color-hover bit-color-active bit-background-class-active>
                <mat-icon>
                    home
                </mat-icon>

                <span *ngIf="mode == 'large'" app-translate [app-translate-inner]="true">
                    Home
                </span>
            </mat-list-item>
            
            <mat-list-item routerLinkActive="active current" routerLink="map" (click)="menu.changeRoute()" matTooltip="Map" matTooltipPosition="after" bit-branding bit-color-hover bit-color-active bit-background-class-active>
                <mat-icon>
                    map
                </mat-icon>

                <span *ngIf="mode == 'large'" app-translate [app-translate-inner]="true">
                    Map
                </span>
            </mat-list-item>
            
            <mat-list-item routerLinkActive="active current" routerLink="notifications" (click)="menu.changeRoute()" matTooltip="Notifications" matTooltipPosition="after" bit-branding bit-color-hover bit-color-active bit-background-class-active>
                <mat-icon>
                    notifications
                </mat-icon>

                <span *ngIf="mode == 'large'" app-translate [app-translate-inner]="true">
                    Notifications
                </span>
            </mat-list-item>

            <mat-list-item (click)="logout()" matTooltip="Sign Out" matTooltipPosition="after" bit-branding bit-color-hover bit-color-active bit-background-class-active>
                <mat-icon>
                    exit_to_app
                </mat-icon>
                
                <span *ngIf="mode == 'large'" app-translate [app-translate-inner]="true">
                    Sign Out
                </span>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>