<mat-sidenav-container>
    <mat-sidenav mode="side">
        <mat-toolbar color="primary">
            <img class="logo" src="./assets/icons/icon-512x512.png" (click)="menu.toggle()">

            <label class="spacer">
                Mapping
            </label>

            <button mat-icon-button (click)="menu.close()">
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </mat-toolbar>

        <mat-list>
            <mat-list-item routerLinkActive="active current" routerLink="/map">
                <mat-icon>
                    map
                </mat-icon>
    
                Map
            </mat-list-item>

            <mat-list-item routerLinkActive="active current" routerLink="/notifications">
                <mat-icon>
                    notifications
                </mat-icon>
    
                notifications
            </mat-list-item>

            <mat-list-item (click)="logout()">
                <mat-icon>
                    exit_to_app
                </mat-icon>
                
                sign out
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-splashscreen></app-splashscreen>